# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
out/

# cached python modules, and cached wads loaded by python tool
*.pyc
*.cache

.vscode* 
.vscode/
.vscode/*
.idea
.idea*
.idea/*
.venv/
src/python/editor/build/
imgui.ini
src/python/dist.7z
src/python/editor/dist/
*.vgm
src/python/editor/imgui.ini
src/python/editor/sprites/
src/python/editor/textures/
res/sprites/
src/python/editor/editor.build/
src/python/editor/editor.dist/
src/python/editor/conf.ini
res/sfx/*.wav
res/music/*.wav
res/sprites/*.png
res/images/*.png
res/textures/*.png
src/python/editor/SDL2.dll
src/python/editor/editor.onefile-build/
src/python/editor/editor.dist.7z
src/python/editor/DLLs/
