# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
out/
*.vgm
*.bmp

# cached python modules, and cached wads loaded by python tool
*.pyc
*.cache

.vscode* 
.vscode/
.vscode/*
.idea
.idea*
.idea/*
.venv/
src/python/editor/build/
editor.spec
imgui.ini
src/python/dist.7z
src/python/editor/dist/
